/*  ProgressBar  */
.progress-bar.bg-amro {
    background-color: rgb(255, 187, 48);
}
.progress-bar.bg-euro {
    background-color: rgb(200, 214, 91);
}
.progress-bar.bg-searo {
    background-color: rgb(82, 0, 174);
}
.progress-bar.bg-emro {
    background-color: rgb(0, 174, 143);
}
.progress-bar.bg-wpro {
    background-color: rgb(193, 37, 146);
}
.progress-bar.bg-afro {
    background-color: rgb(10, 113, 213);
}
.progress-bar.bg-other {
    background-color: rgb(71, 71, 71);
}
